@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-mango-grotesque-semibold);
  --font-subheading: var(--font-mango-grotesque-regular);
  --font-sans: var(--font-barlow);
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow);
}

@layer components {
  .header-text {
    @apply uppercase font-heading text-7xl leading-[0.8] md:text-[14rem];
  }
}
